doctype html
html
    head
        title Node Chat App
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            a.navbar-brand(href='/') Node Chat App
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        span.nav-link.disabled &nbsp;&nbsp;
                ul.navbar-nav.navbar-right
                    if user
                        li.nav-item.active
                            a.nav-link(href='/users/profile') Welcome, #{user.name.split(' ')[0]}
                        li.nav-item
                            span.nav-link.disabled &nbsp;&nbsp;
                        li.nav-item
                            a.nav-link(href='/users/logout') Logout
                    else
                        li.nav-item
                            a.nav-link(href='/users/register') Register
                        li.nav-item
                            a.nav-link(href='/users/login') Login
        .container
            br
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class='alert alert-danger') #{error.msg}
            block content
            br
            hr
            footer.mastfoot.mt-auto
                div.inner
                p Node Chat App &copy; 2018
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')